<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Project Document</title>
    <link rel="icon" href="static/poc1/images/logo.png" type="image/x-icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();
        }
// ]]></script>
	<style type="text/css">
		div#loading {
    width: 300px;
    height: 300px;
    align-content: center;
    display: none;
    background: url({% static "ajax-loader.gif" %}) no-repeat;
    cursor: wait;

    }
    .center{
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	margin: auto;
    }
	</style>
</head>

<body>
<div id="loading" class="center"></div>
<div id="content">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">PHILIPS</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/help"><span class="glyphicon glyphicon-log-in"></span> Help</a></li>
            <li><a href="/about_us"><span class="glyphicon glyphicon-user"></span> About Us</a></li>
            <li><a href="/contact_us"><span class="glyphicon glyphicon-log-in"></span> Contact Us</a></li>
        </ul>
    </div>
</nav>

<div class="container">

    <h3>Upload the Document for the desired project</h3>
     <form method="post" enctype="multipart/form-data">
        <br>
         <h4>Choose Project:</h4>
        <h4><label for="project_name">Available Projects</label>
        <select name="project_name" id="project_name">
            {% for project in project_names %}
            <option value="{{project.0}}">
                <p>{{ project.0 }} : updated on {{ project.1 }}</p>
            </option> {% endfor %}
        </select></h4>
         <br>
    <img src="{% static 'assets/table_identifier_snippet.png' %}">
    <br>
         <h4>Enter Table Identifier:</h4>
        <input type="text" name="table_identifier" class="form-control">
        <br>
        <div class="form-group">
             {%csrf_token%}
            <input type="file" class="form-control" name="URS document">
        </div>
          <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Warning! Adding new document will overwrite existing records in the system for the chosen project</strong>
    </div>
        <input type="submit" class="btn btn-info" value="Add Document" name="add_document" onclick="loading();">
     </form>

    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> {{ message }}
        <h5>Do you want to upload azure file now?</h5>
        <a href="/upload_azure" class="btn btn-info" role="button">Upload Azure</a>
    </div>

    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Failed!</strong> {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

</div>
</div>
</body>
