<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Project</title>
    <link rel="icon" href="static/poc1/images/logo.png" type="image/x-icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();
        }
// ]]></script>
	<style type="text/css">
		div#loading {
    width: 300px;
    height: 300px;
    align-content: center;
    display: none;
    background: url({% static "ajax-loader.gif" %}) no-repeat;
    cursor: wait;

    }
    .center{
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	margin: auto;
    }
	</style>
</head>

<body>
<div id="loading" class="center"></div>
<div id="content">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">PHILIPS</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/help"><span class="glyphicon glyphicon-log-in"></span> Help</a></li>
            <li><a href="/about_us"><span class="glyphicon glyphicon-user"></span> About Us</a></li>
            <li><a href="/contact_us"><span class="glyphicon glyphicon-log-in"></span> Contact Us</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h2>Good Document Practice</h2><br>
    <h3>Upload the URS file to add project to Database</h3>
    <form method="post" enctype="multipart/form-data">
        <h4>Enter the Project name:</h4>
        <div class="form-group">
            {%csrf_token%}
            <input type="text" name="project_name" class="form-control"><br>
            <input type="submit" class="btn btn-info" value="Add Project" name="check_projects">
        </div>

    </form>
    <br>
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Warning !</strong> {{ message }}
            <p>Update document to this project? <a href="/add_document">Click here </a> to add now!</p>
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
            <p>Add Document to the project? <a href="/add_document">Click here </a> to add now!</p>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

</div>
</div>
</body>
</html>