<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
    <link rel="icon" href="{% static 'poc1/images/logo.png' %}" type="image/x-icon">
    <title>Help</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">PHILIPS</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        	<li><a href="/help"><span class="glyphicon glyphicon-log-in"></span> Help</a></li>
            <li><a href="/about_us"><span class="glyphicon glyphicon-user"></span> About Us</a></li>
            <li><a href="/contact_us"><span class="glyphicon glyphicon-log-in"></span> Contact Us</a></li>
        </ul>
    </div>
</nav>

<div class="container">   
        <h1>Help</h1>

        <iframe src="{% static 'WorkInstruction.pdf' %}" style="position: absolute; width: 75%; height: 100%">
	    

This browser does not support PDFs. Please download the PDF to view it: Download PDF

</iframe>

        <!--<object data="{% static 'WorkInstruction.pdf' %}" type="application/pdf" width="100%" height="100%">

		This browser does not support PDFs. Please download the PDF to view it: Download PDF.

		</object>-->
</div>
</body>
</html>
