<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>URS</title>
    <link rel="icon" href="static/poc1/images/logo.png" type="image/x-icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();
        }
// ]]></script>
	<style type="text/css">
		div#loading {
    width: 300px;
    height: 300px;
    align-content: center;
    display: none;
    background: url({% static "ajax-loader.gif" %}) no-repeat;
    cursor: wait;

    }
    .center{
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	margin: auto;
    }
	</style>
</head>

<body>
<div id="loading" class="center"></div>
<div id="content">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">PHILIPS</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/help"><span class="glyphicon glyphicon-log-in"></span> Help</a></li>
            <li><a href="/about_us"><span class="glyphicon glyphicon-user"></span> About Us</a></li>
            <li><a href="/contact_us"><span class="glyphicon glyphicon-log-in"></span> Contact Us</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h2>Good Document Practice</h2><br>
    <!--<h3>Upload the Azure file here to create URS!</h3>
    <br>-->
    <form method="post" enctype="multipart/form-data">
        <h4>Choose Project:</h4>
        <h4><label for="project_name">Available Projects</label>
        <select name="project_name" id="project_name">
            {% for project in project_names %}
            <option value="{{project.0}}">
                <p>{{ project.0 }} : updated on {{ project.1 }}</p>
            </option> {% endfor %}
        </select></h4>
        <br>
        <h4><p>Can't find the project? <a href="/add_project">Click here </a> to add now!</p>
        <p>Add Document to existing project? <a href="/add_document">Click here </a> to add now!</p>
        </h4>
        <br>
        <h4><b>Upload URS Feature file(CSV format)</b></h4>
        <img src="{% static 'assets/URS_Feature_Image.png' %}">
        <br>
        <br>
        <div class="form-group">
            {%csrf_token%}
            <input type="file" class="form-control" name="Azure document">
        </div>

        <input type="submit" class="btn btn-info" value="Upload" name="upload_azure">
    </form>
    <br>
    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> {{ message }}
    </div>
    {% else %}
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Failed!</strong> {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if saved_url %}
    <p class="bg-info">Uploaded file: <a href="{{saved_url}}">{{saved_url}}</a></p>
    {% endif %}
    {% if saved_url %}
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <input type="submit" class="btn btn-info" value="Create URS" name="create_urs" onclick="loading();">
    </form>
    {% endif %}

    {% if amended_url %}
    <p class="bg-info">URS file: <a href="{{amended_url}}">{{amended_url}}</a></p>
    {% endif %}
</div>
</div>
</body>
</html>