<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="static/poc1/images/logo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Validation</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">PHILIPS</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/help"><span class="glyphicon glyphicon-log-in"></span> Help</a></li>
            <li><a href="/about_us"><span class="glyphicon glyphicon-user"></span> About Us</a></li>
            <li><a href="/contact_us"><span class="glyphicon glyphicon-log-in"></span> Contact Us</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="well well-sm">
        <h4>Do you want to upload again?</h4>
        <a href="/upload_azure" class="btn btn-info" role="button">Upload again</a>
    </div>

    {% if azure_full_report_url %}
    <h3><center><p class="bg-info"><a href="{{azure_full_report_url}}">Download full report</a></p></center></h3>
    {% endif %}

    <div class="row">
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up">
            <h3 class="well">Feature Title</h3>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <h3 class="well">Existing URS Suggestions</h3>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <h3 class="well">New URS Suggestions</h3>
        </div>
    </div>

    {% if combined_result %}
    {% for entry in combined_result %}
    <div class="row">
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up">
            <p class="description">
            <div class="alert alert-danger">
                <strong>Title</strong> {{ entry.0.0 }}
            </div>
            </p>
        </div>
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up">
            <p class="description">
            <div class="alert alert-success">
                <strong>Suggestion</strong>
                {% for x in entry.0.1 %}
                <br>
                    {{ x }}
                {% endfor %}
            </div>
            </p>
        </div>
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up">
            <p class="description">
            <div class="alert alert-success">
                <strong>Suggestion</strong>
                    {{ entry.1 }}
            </div>
            </p>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <footer>
        <div class="well well-sm">
            <h4>Do you want to upload again?</h4>
            <a href="/upload_azure" class="btn btn-info" role="button">Upload again</a>
        </div>
    </footer>

</div>

</body>
</html>