<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="static/poc1/images/logo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DS Validation</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">PHILIPS</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/help"><span class="glyphicon glyphicon-log-in"></span> Help</a></li>
            <li><a href="/about_us"><span class="glyphicon glyphicon-user"></span> About Us</a></li>
            <li><a href="/contact_us"><span class="glyphicon glyphicon-log-in"></span> Contact Us</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="well well-sm">
        <h4>Do you want to upload again?</h4>
        <a href="/upload_ds" class="btn btn-info" role="button">Upload again</a>
    </div>

    <div class="well well-sm">
        <h4>Different colors represent respective errors in DS document.</h4><h5>(Please refer the excel sheet linked below)</h5>
        <center>
            <div class="row">
                <div class="col-sm-6 col-lg-2 d-flex align-items-stretch" data-aos="fade-up">
                    <br><br><strong><h4>Legend-></h4></strong>
                </div>
                <div class="col-sm-6 col-lg-2 d-flex align-items-stretch" data-aos="fade-up">
                    <svg width="200" height="90">
                        <rect x="60" y="10" rx="6" ry="6" width="40" height="40"
                              style="fill:#E74C3C;stroke:black;stroke-width:5;opacity:1"/>
                    </svg>
                    <br><strong>Field Empty</strong>
                </div>
                <div class="col-sm-6 col-lg-2 d-flex align-items-stretch" data-aos="fade-up">
                    <svg width="200" height="90">
                        <rect x="60" y="10" rx="6" ry="6" width="40" height="40"
                              style="fill:#A569BD;stroke:black;stroke-width:5;opacity:1"/>
                    </svg>
                    <br><strong>Identifier Not Unique</strong>
                </div>
                <div class="col-sm-6 col-lg-2 d-flex align-items-stretch" data-aos="fade-up">
                    <svg width="200" height="90">
                        <rect x="60" y="10" rx="6" ry="6" width="40" height="40"
                              style="fill:#5DADE2;stroke:black;stroke-width:5;opacity:1"/>
                    </svg>
                    <br><strong>Description Error</strong>
                </div>
                <div class="col-sm-6 col-lg-2 d-flex align-items-stretch" data-aos="fade-up">
                    <svg width="200" height="90">
                        <rect x="60" y="10" rx="6" ry="6" width="40" height="40"
                              style="fill:#BDF43F;stroke:black;stroke-width:5;opacity:1"/>
                    </svg>
                    <br><strong>Potential Spelling and Grammar Mistake</strong>
                </div>
                <div class="col-sm-6 col-lg-2 d-flex align-items-stretch" data-aos="fade-up">
                    <svg width="200" height="90">
                        <rect x="60" y="10" rx="6" ry="6" width="40" height="40"
                              style="fill:#F4D03F;stroke:black;stroke-width:5;opacity:1"/>
                    </svg>
                    <br><strong>Invalid Identifier</strong>
                </div>
            </div>
        </center>
    </div>

    {% if full_report_url %}
    <h3><center><p class="bg-info"><a href="{{full_report_url}}">Download full report</a></p></center></h3>
    {% endif %}

    <div class="row">
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up">
            <h3 class="well">Uniqueness <span class="badge">{{len_unique_error_list}}</span></h3>
            <p class="description">
                {% if unique_error_list %}
                {% for error in unique_error_list %}
            <div class="alert alert-danger">
                <strong>Warning!</strong> {{ error }}
            </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-success">
                <strong>Success!</strong> No errors.
            </div>
            {% endif %}
            </p>
        </div>

        <div class="col-md-6 col-lg-8 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <h3 class="well">Requirement Description <span class="badge"><!--{{ len_desc_error_list }} + -->{{len_correction_list}}</span>
            </h3>
            <!--<h4 class="well well-sm">"The system shall have" errors <span class="badge">{{len_desc_error_list}}</span>
            </h4>
            <p class="description">
                {% if desc_error_list %}
                {% for error in desc_error_list %}
            <div class="alert alert-danger">
                <strong>Warning!</strong> {{ error }}
            </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-success">
                <strong>Success!</strong> No errors.
            </div>
            {% endif %}
            </p>-->

            <h4 class="well well-sm">"Grammatical and Spelling" errors <span
                    class="badge">{{len_correction_list}}</span></h4>
            <p class="description">
                {% if report_url %}
                <h3>
                    <center>
            <p class="bg-info"><a href="{{report_url}}">Download report</a></p></center></h3>
            {% endif %}
            {% if correction_list %}
            {% for corrected, existing in correction_list %}
            <div class="alert alert-danger">
                <strong>Original!</strong><br>
                <li class="{{ error.tags }}">
                    {{ existing }}
                    <br>
                    <strong>Suggested!</strong><br>
                    {{ corrected }}
                </li>
            </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-success">
                <strong>Success!</strong> No errors.
            </div>
            {% endif %}
            </p>

        </div>

        <!--<div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <h3 class="well">Identifier <span class="badge">{{len_identifier_error_list}}</span></h3>
            <p class="description">
                {% if identifier_error_list %}
                {% for error in identifier_error_list %}
            <div class="alert alert-danger">
                <strong>Warning!</strong> {{ error }}
            </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-success">
                <strong>Success!</strong> No errors.
            </div>
            {% endif %}
            </p>
        </div>-->

    </div>


    <footer>
        <div class="well well-sm">
            <h4>Do you want to upload again?</h4>
            <a href="/upload_ds" class="btn btn-info" role="button">Upload again</a>
        </div>
    </footer>

</div>

</body>
</html>